# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
keyring_bak/
log/node_log/*
*.egg-info/
report/*
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Sphinx documentation
docs/build/

# PyBuilder
target/

# Ipython Notebook
.ipynb_checkpoints

# pyenv
.python-version
.idea

# rethinkdb data dir
*rethinkdb_data/

# Ansible-specific files
ntools/one-m/ansible/hosts
ntools/one-m/ansible/ansible.cfg

# Some files created when deploying a cluster on
deploy/conf/collectd.conf
deploy/conf/rethinkdb.conf
deploy/conf/unichain_confiles
deploy/script/keypairs.py

# *.gz

*nginx*.tar.gz

#first push should commend and none after
deploy/conf/blockchain_nodes
deploy/conf/monitor_config
deploy/conf/cluster_info.ini

#deploy/conf/template/unichain.conf.template
deploy/sources/*.gz
deploy/sources/unichain

deploy/conf/log

test/
